/node_modules/vendor/.idea/.vscodeHomestead.jsonHomestead.yamlnpm-debug.logyarn-error.log.env*.log.DS_StoreThumbs.db/logs/compiled/configuration/config.php/simpla/.passwd/cron/log.txt/sql/local.sql/public/test.php/deploy/vault/files/managers/files/documents/public/files